@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>

@if (ViewBag.ErrorMessage == null)
{
    <h2 class="text-danger">An error occurred while processing your request.</h2>

}
else
{
    <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
    <p class="text-light">@ViewBag.ErrorDetails</p>
    @*if (ViewBag.Admins != null)
    {
        <ul>
            @foreach (var user in ViewBag.Admins)
            {
                <li>@user.FirstName @user.LastName - @user.UserName</li>
            }
        </ul>
    }*@
}


