@{
    ViewBag.Title = "Home Page";
}
@using Finch_Inventory.Models;

<div class="row">
    <div class="col-lg-12">
        <div class="card card-primary">
            <div class="card-header">
                <h2>Finch Paper - Inventory</h2>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>PM_Number</th>
                            <th>Position</th>
                            <th>Manufacturer</th>
                            <th>Type</th>
                            <th>Serial Number</th>
                            <th>Date Received</th>
                            <th>Date Placed on Machine</th>
                            <th>Date Removed from Machine</th>
                            <th>Status</th>
                            <th>Inventory Location</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            foreach (Clothing item in ViewBag.Inventory)
                            {
                                var dateReceived = new DateTime();
                                var datePlaced = new DateTime();
                                var dateRemoved = new DateTime();
                                var location = string.Empty;
                                var age = 0;
                                if (item.Date_Received != null)
                                {
                                    dateReceived = (DateTime)item.Date_Received;
                                }
                                if (item.Date_Placed_On_Mac != null)
                                {
                                    datePlaced = (DateTime)item.Date_Placed_On_Mac;
                                }
                                if (item.Date_Removed_From_Mac != null)
                                {
                                    dateRemoved = (DateTime)item.Date_Removed_From_Mac;
                                }
                                if (item.Location != null)
                                {
                                    location = item.Location.Location1;
                                }
                                if (dateReceived != null && datePlaced != null)
                                {
                                    age = (datePlaced - dateReceived).Days;
                                }
                                <tr>
                                    <td>@item.PM_Number</td>
                                    <td>@item.Position.Position1</td>
                                    <td>@item.Manufacturer</td>
                                    <td>@item.Type.Type1</td>
                                    <td>@item.Serial_Number</td>
                                    <td>@dateReceived.ToShortDateString()</td>
                                    <td>@datePlaced.ToShortDateString()</td>
                                    <td>@dateRemoved.ToShortDateString()</td>
                                    <td>@item.Status.Status1</td>
                                    <td>@location</td>
                                    @if (dateReceived != null && dateReceived != DateTime.Parse("1/1/0001") && datePlaced != null && datePlaced != DateTime.Parse("1/1/0001"))
                                    {
                                        <td>@age</td>
                                    }

                                </tr>
                            }
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>