@model Finch_Inventory.Models.Clothing
@using Finch_Inventory.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Modal Windows -->

@*<div class="modal hide fade" id="replace-modal" tabindex="-1" role="dialog" aria-labelledby="replace-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="replace-modal-label">Replace Roll</h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(model => model.ID, "Roll ID", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <select id="id" , name="id">
                                @{
                                    using (var db = new FinchDbContext())
                                    {
                                        var availableRolls = db.Clothings.Where(x => x.PM_Number == Model.PM_Number && x.Position == Model.Position && x.ID != Model.ID);
                                        foreach (var item in @availableRolls)
                                        {
                                            <option value="@item.ID">@item.Serial_Number</option>
                                        }
                                    }
                                }


                            </select>
                            @Html.ValidationMessageFor(model => model.PM_Number, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Complete Replacement</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>*@

<!------------------->

<div class="row">
    <div class="col-lg-12">
        <div class="card card-primary">
            <div class="card-header">
                <h2>Details for ID @Model.ID</h2>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    @{
                        var dateReceived = new DateTime();
                        var datePlaced = new DateTime();
                        var dateRemoved = new DateTime();
                        if (Model.Date_Received != null)
                        {
                            dateReceived = (DateTime)Model.Date_Received;
                        }
                        if (Model.Date_Placed_On_Mac != null)
                        {
                            datePlaced = (DateTime)Model.Date_Placed_On_Mac;
                        }
                        if (Model.Date_Removed_From_Mac != null)
                        {
                            dateRemoved = (DateTime)Model.Date_Removed_From_Mac;
                        }
                    }

                    <dt>
                        Position
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Position.Position1)
                    </dd>

                    <dt>
                        Status
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status.Status1)
                    </dd>
                    @{
                        if (Model.Status.ToString() == "Inventory")
                        {
                            <dt>
                                @Html.DisplayNameFor(model => model.Location.Location1)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Location.Location1)
                            </dd>
                        }
                    }


                    <dt>
                        Type
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Type.Type1)
                    </dd>

                    <dt>
                        PM Number
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PM_Number)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Manufacturer)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Manufacturer)
                    </dd>

                    <dt>
                        Serial Number
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Serial_Number)
                    </dd>
                    @{
                        if (Model.Date_Received != null && Model.Date_Received != DateTime.Parse("1/1/0001"))
                        {
                            <dt>
                                Date Received
                            </dt>

                            <dd>
                                @dateReceived.ToShortDateString()
                            </dd>
                        }

                        if (Model.Date_Placed_On_Mac != null && Model.Date_Placed_On_Mac != DateTime.Parse("1/1/0001"))
                        {
                            <dt>
                                Placed on Machine
                            </dt>

                            <dd>
                                @datePlaced.ToShortDateString()
                            </dd>
                        }

                        if (Model.Date_Removed_From_Mac != null && Model.Date_Removed_From_Mac != DateTime.Parse("1/1/0001"))
                        {
                            <dt>
                                Removed from Machine
                            </dt>

                            <dd>
                                @dateRemoved.ToShortDateString()
                            </dd>
                        }
                        <dt>Age</dt>
                        <dd>@Model.Age</dd>
                    }
                    <dt>
                        @Html.DisplayNameFor(model => model.Comments)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Comments)
                    </dd>

                </dl>

            </div>
            <div class="card-footer">
                @if (Model.StatusID != 1 && Model.StatusID != 3)
                {
                    <a href="@Url.Action("ReplaceForm", "Clothing", new { id = Model.ID})" id="replace-roll" class="btn btn-success mx-2" title="Replace Clothing/Roll"><i class="fas fa-exchange-alt mx-2"></i>Replace Roll</a>
                }

                <a href="@Url.Action("Index", "Home")" class="btn btn-primary " title="Back"><i class="fas fa-arrow-left mx-2"></i>Back To List</a>
            </div>
        </div>

    </div>
</div>


